<launch>
  <arg name="paused" value="false"/>
  <arg name="verbose" value="true"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="debug" value="false" />
  <arg name="gui" default="true" />
  <arg name="rosbag_file" default="jackal_run.bag" />
  <arg name="world_name" default="$(find jackal_description)/worlds/parking_lot.world" />


  <!-- launch the custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)" />
  </include>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find jackal_description)/urdf/jackal.urdf.xacro'" />


  <!-- push robot_description to factory and spawn the Jackal in gazebo; change
       x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model jackal -x 0 -y 0 -z 0.5" respawn="false" output="screen" />


  <!-- Wheel + joint controllers -->
  <rosparam command="load" file="$(find jackal_description)/config/control.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller" />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>


  <!-- Ground-truth TF + per-sensor ground-truth odometry (world -> base_link,
       lidar and depth camera poses that nanovoxmap integrates against) -->
  <node pkg="jackal_description" type="tf_publisher" name="jackal_tf_broadcaster" output="screen"/>


  <!-- nanovoxmap -->
  <node name="nanovoxmap_node" pkg="nanovoxmap_ros" type="nanovoxmap_ros_node" output="screen">
    <rosparam file="$(find nanovoxmap_ros)/config/mapping_jackal.yaml"/>
  </node>  

  <!-- Map inflation -->
  <node pkg="occupancy_inflation" type="occupancy_inflation_node" name="occupancy_inflation_node" output="screen">
    <rosparam file="$(find occupancy_inflation)/config/inflation_params_jackal.yaml"/>
  </node>  

  <!-- Corridor Planning (planar) -->
  <node name="corridor_planning_node" pkg="corridor_planning" type="corridor_planning_node" output="screen">
    <rosparam file="$(find corridor_planning)/config/global_planning_jackal.yaml" command="load" />
  </node>


  <!-- Trajectory Planner (planar GCOPTER -> cmd_vel) -->
  <node name="trajectory_server_node" pkg="trajectory_server" type="trajectory_server_node" output="screen">
    <rosparam file="$(find trajectory_server)/config/gcopter_params_jackal.yaml" command="load" />
  </node>


  <!-- Record data to rosbag -->
  <!-- <node name="jackal_data_recorder" pkg="rosbag" type="record" args="-a -O $(find trajectory_server)/bag/$(arg rosbag_file)"/> -->

  <!-- Show in Rviz. Send a goal with the "2D Nav Goal" tool
       (publishes /move_base_simple/goal). -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_description)/config/jackal_lidar.rviz"/>

</launch>
