<launch>
  <arg name="paused" value="false"/>
  <arg name="verbose" value="true"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="debug" value="false" />
  <arg name="computation_time_file" default="computation_time.bag" />
  <arg name="world_name" value="$(find quadrotor_description)/worlds/floorplan1/floorplan1_static.world" />


  <!-- launch the custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="debug" value="$(arg debug)" />
  </include>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find quadrotor_description)/urdf/quadrotor.xacro'" />  


  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model quadrotor -x 0 -y 0 -z 0.1" respawn="false" />

  <!-- ground truth_node node -->
  <node name="quadrotor_ground_truth_node" pkg="quadrotor_description" type="quadrotor_ground_truth_node" output="screen"/>    

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/quadrotor/joint_states" />
  </node>


  <!-- Corridor Planning -->
  <node name="corridor_planning_node" pkg="corridor_planning" type="corridor_planning_node" output="screen">
    <rosparam file="$(find corridor_planning)/config/global_planning_drone.yaml" command="load" />
  </node>


  <!-- nanovoxmap -->
  <node name="nanovoxmap_node" pkg="nanovoxmap_ros" type="nanovoxmap_ros_node" output="screen">
    <rosparam file="$(find nanovoxmap_ros)/config/mapping_drone.yaml"/>
  </node>

  <!-- Map inflation -->
  <node pkg="occupancy_inflation" type="occupancy_inflation_node" name="occupancy_inflation_node" output="screen">
    <rosparam file="$(find occupancy_inflation)/config/inflation_params_drone.yaml"/>
  </node>  

  <!-- Trajectory Planner -->
  <node name="trajectory_server_node" pkg="trajectory_server" type="trajectory_server_node" output="screen">
    <rosparam file="$(find trajectory_server)/config/gcopter_params_drone.yaml" command="load" />
  </node>


  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadrotor_description)/config/quadrotor_visual.rviz"/>

</launch>