<launch>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true" />
    <arg name="gui" value="true" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" />
    <arg name="world_name" value="$(find quadrotor_description)/worlds/floorplan1/floorplan1_static.world" />
  </include>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find quadrotor_description)/urdf/quadrotor.xacro'" />  

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model quadrotor -x 0 -y 0 -z 0.1" respawn="false" />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/quadrotor/joint_states" />
  </node>

  <!-- ground truth_node node -->
  <node name="quadrotor_ground_truth_node" pkg="quadrotor_description" type="quadrotor_ground_truth_node" output="screen"/>  

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadrotor_description)/config/quadrotor_visual.rviz"/>

</launch>