<?xml version="1.0"?>
<robot>

    <!-- realsense camera joints -->
    <joint type="fixed" name="front_realsense_chassis_joint">
        <origin xyz="0.25 0.0 0.095" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="front_realsense_chassis" />
    </joint>
    <link name="front_realsense_chassis">
        <!-- <visual>
            <origin xyz="-0.15 0.0 -0.075" rpy="${M_PI/2} 0 ${M_PI/2}" />
            <geometry>
                <mesh filename="package://quadrotor_description/meshes/d435.dae"/>
            </geometry>
        </visual> -->
    </link>

    <joint type="fixed" name="front_realsense_joint">
        <origin xyz="0.025 0 0" rpy="0 0 0" />
        <parent link="front_realsense_chassis" />
        <child link="front_realsense_lens" />
    </joint>
    <link name="front_realsense_lens" />

    <joint name="front_realsense_optical_link_joint" type="fixed">
        <parent link="front_realsense_lens" />
        <child link="front_realsense_optical_link" />
        <origin xyz="0.0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    </joint>
    <link name="front_realsense_optical_link" />


    <!-- camera (Stereo) -->
    <gazebo reference="front_realsense_lens">
        <turnGravityOff>false</turnGravityOff>
        <sensor type="depth" name="front_realsense_depth">
            <update_rate>30</update_rate>
            <camera>
                <!-- 75x65 degree FOV for the depth sensor -->
                <horizontal_fov>1.5184351666666667</horizontal_fov>
                <vertical_fov>1.0122901111111111</vertical_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <!-- give the color sensor a maximum range of 50m so that the simulation renders nicely -->
                    <near>0.01</near>
                    <far>50.0</far>
                </clip>
            </camera>
            <plugin name="kinect_controller" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.2</baseline>
                <alwaysOn>true</alwaysOn>
                <updateRate>30</updateRate>
                <cameraName>quadrotor/realsense</cameraName>
                <imageTopicName>color/image_raw</imageTopicName>
                <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
                <depthImageTopicName>depth/image_rect_raw</depthImageTopicName>
                <depthImageInfoTopicName>depth/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>depth/color/points</pointCloudTopicName>
                <frameName>front_realsense_optical_link</frameName>
                <pointCloudCutoff>0.105</pointCloudCutoff>
                <pointCloudCutoffMax>8.0</pointCloudCutoffMax>
                <distortionK1>0.00000001</distortionK1>
                <distortionK2>0.00000001</distortionK2>
                <distortionK3>0.00000001</distortionK3>
                <distortionT1>0.00000001</distortionT1>
                <distortionT2>0.00000001</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
        </sensor>
    </gazebo>

</robot>